@import '../styles/common.module.scss';

.container {
  @extend .staticContainer;
}

.contentWrapper {
  @extend .staticContent;
}

.content {
  @extend .buttonsContainer;
}

.headerTitle {
  @extend .headerTitle;
}
