// Responsive Breakpoint Mixins
// Usage: @include tablet { ... } or @include desktop { ... }

// SCSS variables for breakpoints (used in mixins)
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

// Advanced mixins for specific use cases
@mixin tablet-only {
  @media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
    @content;
  }
}

// Orientation-based mixins (useful for tablets)
@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}
